name: Docker Image CI

on:
  push:
    tags:
      - 'v*'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: docker login
      env:
        DOCKER_USER: ${{secrets.DOCKER_USER}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD 
        
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag sergogmbh/docuprinter:${{ github.ref_name }} --tag sergogmbh/docuprinter:latest

    - name: Docker Push
      run: docker push sergogmbh/versionize --all-tags

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref_name }}
        body: |
          Please check [README](https://github.com/SERGO-GMBH/DocuPrinter/blob/main/README.md) to see how you can use this project.
        draft: false
        prerelease: false
